cypress
.vercel
.vscode
.eslintrc.json
.github
.prettierrc
package-lock.json
package.json
README.md
.next
.idea
cypress.json
next-env.d.ts
postcss.config.js
prettier.config.js
tailwind.config.js
tsconfig.json
.prettierrc.json
